<div class="col-sm-8">
   <div class="pro-m">
          <img src="/images/stocking.png" alt="stocking">
          <span class="big-txt">{{wishitems.length}}</span>
          <span class="small-txt">Items in Wish List</span>
   </div>
</div>
